In [1]:
import pandas as pd
import numpy as np

In [3]:
dfsales=pd.read_csv(r"C:\Users\admin\Desktop\Pandas\arjun srikant pandas\gbsales.csv")

In [4]:
dfsales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [5]:
dfsales.isnull().sum()

Account     0
Name        0
Rep         0
Manager     0
Product     0
Quantity    0
Price       0
Status      0
dtype: int64

In [6]:
dfsales.columns

Index(['Account', 'Name', 'Rep', 'Manager', 'Product', 'Quantity', 'Price',
       'Status'],
      dtype='object')

In [7]:
dfsales["Name"].unique()

array(['Trantow-Barrows', 'Fritsch, Russel and Anderson', 'Kiehn-Spinka',
       'Kulas Inc', 'Jerde-Hilpert', 'Barton LLC', 'Herman LLC',
       'Purdy-Kunde', 'Stokes LLC', 'Kassulke, Ondricka and Metz',
       'Keeling LLC', 'Koepp Ltd'], dtype=object)

In [8]:
len(dfsales["Name"].unique())

12

In [11]:
len(dfsales["Rep"].unique())

5

In [13]:
len(dfsales["Manager"].unique())

2

In [19]:
gbmanager=dfsales.groupby("Manager")

In [20]:
gbmanager.groups

{'Debra Henley': [0, 1, 2, 3, 4, 5, 6, 7, 8], 'Fred Anderson': [9, 10, 11, 12, 13, 14, 15, 16]}

In [21]:
for x,y in gbmanager:
    print(x)
    print()
    print(y)
    print("_"*50)
    print()

Debra Henley

   Account                          Name            Rep       Manager  \
0   714466               Trantow-Barrows   Craig Booker  Debra Henley
1   714466               Trantow-Barrows   Craig Booker  Debra Henley
2   714466               Trantow-Barrows   Craig Booker  Debra Henley
3   737550  Fritsch, Russel and Anderson   Craig Booker  Debra Henley
4   146832                  Kiehn-Spinka  Daniel Hilton  Debra Henley
5   218895                     Kulas Inc  Daniel Hilton  Debra Henley
6   218895                     Kulas Inc  Daniel Hilton  Debra Henley
7   412290                 Jerde-Hilpert     John Smith  Debra Henley
8   740150                    Barton LLC     John Smith  Debra Henley

       Product  Quantity  Price     Status
0          CPU         1  30000  presented
1     Software         1  10000  presented
2  Maintenance         2   5000    pending
3          CPU         1  35000   declined
4          CPU         2  65000        won
5          CPU         2  40000    pending
6     Software         1  10000  presented
7  Maintenance         2   5000    pending
8          CPU         1  35000   declined
__________________________________________________

Fred Anderson

    Account                         Name          Rep        Manager  \
9    141962                   Herman LLC  Cedric Moss  Fred Anderson
10   163416                  Purdy-Kunde  Cedric Moss  Fred Anderson
11   239344                   Stokes LLC  Cedric Moss  Fred Anderson
12   239344                   Stokes LLC  Cedric Moss  Fred Anderson
13   307599  Kassulke, Ondricka and Metz   Wendy Yule  Fred Anderson
14   688981                  Keeling LLC   Wendy Yule  Fred Anderson
15   729833                    Koepp Ltd   Wendy Yule  Fred Anderson
16   729833                    Koepp Ltd   Wendy Yule  Fred Anderson

        Product  Quantity   Price     Status
9           CPU         2   65000        won
10          CPU         1   30000  presented
11  Maintenance         1    5000    pending
12     Software         1   10000  presented
13  Maintenance         3    7000        won
14          CPU         5  100000        won
15          CPU         2   65000   declined
16      Monitor         2    5000  presented
__________________________________________________

In [23]:
dfdebra=gbmanager.get_group("Debra Henley")

In [24]:
dfdebra

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [25]:
dffred=gbmanager.get_group("Fred Anderson")

In [26]:
dffred

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [27]:
dfdebra["Rep"]

0     Craig Booker
1     Craig Booker
2     Craig Booker
3     Craig Booker
4    Daniel Hilton
5    Daniel Hilton
6    Daniel Hilton
7       John Smith
8       John Smith
Name: Rep, dtype: object

In [28]:
dfdebra["Rep"].unique()

array(['Craig Booker', 'Daniel Hilton', 'John Smith'], dtype=object)

### NESTED GRIUPBY

In [29]:
dfdebra

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [31]:
dfrep=dfdebra.groupby("Rep")

In [32]:
for x,y in dfrep:
    print(x)
    print()
    print(y)
    print("-"*50)
    print()

Craig Booker

   Account                          Name           Rep       Manager  \
0   714466               Trantow-Barrows  Craig Booker  Debra Henley
1   714466               Trantow-Barrows  Craig Booker  Debra Henley
2   714466               Trantow-Barrows  Craig Booker  Debra Henley
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley

       Product  Quantity  Price     Status
0          CPU         1  30000  presented
1     Software         1  10000  presented
2  Maintenance         2   5000    pending
3          CPU         1  35000   declined
--------------------------------------------------

Daniel Hilton

   Account          Name            Rep       Manager   Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley       CPU         2
5   218895     Kulas Inc  Daniel Hilton  Debra Henley       CPU         2
6   218895     Kulas Inc  Daniel Hilton  Debra Henley  Software         1

   Price     Status
4  65000        won
5  40000    pending
6  10000  presented
--------------------------------------------------

John Smith

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2
8   740150     Barton LLC  John Smith  Debra Henley          CPU         1

   Price    Status
7   5000   pending
8  35000  declined
--------------------------------------------------

In [38]:
for x,y in dfrep:
    print(x)
    print()
    print(y["Price"].sum())

Craig Booker

80000
Daniel Hilton

115000
John Smith

40000

In [39]:
dfsales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [40]:
dfdebra["Status"]=="declined"

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
Name: Status, dtype: bool

In [41]:
ft=dfdebra["Status"]=="declined"

In [44]:
dfdebra.loc[ft]

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [54]:
dfsales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [49]:
dfdebra

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [55]:
dfdebra.loc[~ft]

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending

In [56]:
dfdebra

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [58]:
dfdebra["Status"]

0    presented
1    presented
2      pending
3     declined
4          won
5      pending
6    presented
7      pending
8     declined
Name: Status, dtype: object

In [59]:
dfdebra["Status"]=="declined"

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
Name: Status, dtype: bool

In [65]:
dfdebranon=dfdebra[dfdebra["Status"] !="declined"]

In [71]:
dbrep1=dfdebranon.groupby("Rep")

In [72]:
dbrep1

In [73]:
for x,y in dbrep1:
    print(x)
    print()
    print(y)
    print("-"*50)

Craig Booker

   Account             Name           Rep       Manager      Product  \
0   714466  Trantow-Barrows  Craig Booker  Debra Henley          CPU
1   714466  Trantow-Barrows  Craig Booker  Debra Henley     Software
2   714466  Trantow-Barrows  Craig Booker  Debra Henley  Maintenance

   Quantity  Price     Status
0         1  30000  presented
1         1  10000  presented
2         2   5000    pending
--------------------------------------------------
Daniel Hilton

   Account          Name            Rep       Manager   Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley       CPU         2
5   218895     Kulas Inc  Daniel Hilton  Debra Henley       CPU         2
6   218895     Kulas Inc  Daniel Hilton  Debra Henley  Software         1

   Price     Status
4  65000        won
5  40000    pending
6  10000  presented
--------------------------------------------------
John Smith

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2

   Price   Status
7   5000  pending
--------------------------------------------------

In [76]:
dbrep1.groups

{'Craig Booker': [0, 1, 2], 'Daniel Hilton': [4, 5, 6], 'John Smith': [7]}

In [82]:
for x,y in dbrep1:
    print(x)
    print(y["Price"].sum())
    print("-"*50)

Craig Booker
45000
--------------------------------------------------
Daniel Hilton
115000
--------------------------------------------------
John Smith
5000
--------------------------------------------------

In [80]:
dfsales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

### Group Multi Columns