In [53]:
import pandas as pd
import numpy as np

In [54]:
dfsales = pd.read_csv("C:\\Users\\Arjun Yadav\\Desktop\\DATASETS\\Groupby\\gbsales.csv")

In [55]:
dfsales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [56]:
dfsales.isnull().sum()

Account     0
Name        0
Rep         0
Manager     0
Product     0
Quantity    0
Price       0
Status      0
dtype: int64

In [57]:
dfsales.columns

Index(['Account', 'Name', 'Rep', 'Manager', 'Product', 'Quantity', 'Price',
       'Status'],
      dtype='object')

In [58]:
len( dfsales["Name"].unique() )

12

In [59]:
len(dfsales["Rep"].unique())

5

In [60]:
dfsales["Manager"].unique()

array(['Debra Henley', 'Fred Anderson'], dtype=object)

In [61]:
gbmanager = dfsales.groupby("Manager")

In [62]:
gbmanager

In [63]:
gbmanager.groups

{'Debra Henley': [0, 1, 2, 3, 4, 5, 6, 7, 8], 'Fred Anderson': [9, 10, 11, 12, 13, 14, 15, 16]}

In [64]:
for x, y in gbmanager:
    print(x)
    print()
    print(y)
    print()
    print("*******************************")
    print()

Debra Henley

   Account                          Name            Rep       Manager  \
0   714466               Trantow-Barrows   Craig Booker  Debra Henley
1   714466               Trantow-Barrows   Craig Booker  Debra Henley
2   714466               Trantow-Barrows   Craig Booker  Debra Henley
3   737550  Fritsch, Russel and Anderson   Craig Booker  Debra Henley
4   146832                  Kiehn-Spinka  Daniel Hilton  Debra Henley
5   218895                     Kulas Inc  Daniel Hilton  Debra Henley
6   218895                     Kulas Inc  Daniel Hilton  Debra Henley
7   412290                 Jerde-Hilpert     John Smith  Debra Henley
8   740150                    Barton LLC     John Smith  Debra Henley

       Product  Quantity  Price     Status
0          CPU         1  30000  presented
1     Software         1  10000  presented
2  Maintenance         2   5000    pending
3          CPU         1  35000   declined
4          CPU         2  65000        won
5          CPU         2  40000    pending
6     Software         1  10000  presented
7  Maintenance         2   5000    pending
8          CPU         1  35000   declined

*******************************

Fred Anderson

    Account                         Name          Rep        Manager  \
9    141962                   Herman LLC  Cedric Moss  Fred Anderson
10   163416                  Purdy-Kunde  Cedric Moss  Fred Anderson
11   239344                   Stokes LLC  Cedric Moss  Fred Anderson
12   239344                   Stokes LLC  Cedric Moss  Fred Anderson
13   307599  Kassulke, Ondricka and Metz   Wendy Yule  Fred Anderson
14   688981                  Keeling LLC   Wendy Yule  Fred Anderson
15   729833                    Koepp Ltd   Wendy Yule  Fred Anderson
16   729833                    Koepp Ltd   Wendy Yule  Fred Anderson

        Product  Quantity   Price     Status
9           CPU         2   65000        won
10          CPU         1   30000  presented
11  Maintenance         1    5000    pending
12     Software         1   10000  presented
13  Maintenance         3    7000        won
14          CPU         5  100000        won
15          CPU         2   65000   declined
16      Monitor         2    5000  presented

*******************************

In [65]:
dfdebra = gbmanager.get_group("Debra Henley")

In [66]:
dffred = gbmanager.get_group("Fred Anderson")

In [67]:
dfdebra

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [68]:
dffred

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [69]:
dfdebra

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [70]:
dfdebra["Rep"]

0     Craig Booker
1     Craig Booker
2     Craig Booker
3     Craig Booker
4    Daniel Hilton
5    Daniel Hilton
6    Daniel Hilton
7       John Smith
8       John Smith
Name: Rep, dtype: object

In [71]:
dfdebra["Rep"].unique()

array(['Craig Booker', 'Daniel Hilton', 'John Smith'], dtype=object)

#### NESTED GROUPBY

In [72]:
dfdebra

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [73]:
gbrep = dfdebra.groupby("Rep")

In [74]:
gbrep.groups

{'Craig Booker': [0, 1, 2, 3], 'Daniel Hilton': [4, 5, 6], 'John Smith': [7, 8]}

In [75]:
for a, b in gbrep :
    print(a)
    print()
    print(b)
    print()
    print("*********************")
    print()

Craig Booker

   Account                          Name           Rep       Manager  \
0   714466               Trantow-Barrows  Craig Booker  Debra Henley
1   714466               Trantow-Barrows  Craig Booker  Debra Henley
2   714466               Trantow-Barrows  Craig Booker  Debra Henley
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley

       Product  Quantity  Price     Status
0          CPU         1  30000  presented
1     Software         1  10000  presented
2  Maintenance         2   5000    pending
3          CPU         1  35000   declined

*********************

Daniel Hilton

   Account          Name            Rep       Manager   Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley       CPU         2
5   218895     Kulas Inc  Daniel Hilton  Debra Henley       CPU         2
6   218895     Kulas Inc  Daniel Hilton  Debra Henley  Software         1

   Price     Status
4  65000        won
5  40000    pending
6  10000  presented

*********************

John Smith

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2
8   740150     Barton LLC  John Smith  Debra Henley          CPU         1

   Price    Status
7   5000   pending
8  35000  declined

*********************

In [76]:
for a , b in gbrep :
    print(a)
    print()
    print(b)

Craig Booker

   Account                          Name           Rep       Manager  \
0   714466               Trantow-Barrows  Craig Booker  Debra Henley
1   714466               Trantow-Barrows  Craig Booker  Debra Henley
2   714466               Trantow-Barrows  Craig Booker  Debra Henley
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley

       Product  Quantity  Price     Status
0          CPU         1  30000  presented
1     Software         1  10000  presented
2  Maintenance         2   5000    pending
3          CPU         1  35000   declined
Daniel Hilton

   Account          Name            Rep       Manager   Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley       CPU         2
5   218895     Kulas Inc  Daniel Hilton  Debra Henley       CPU         2
6   218895     Kulas Inc  Daniel Hilton  Debra Henley  Software         1

   Price     Status
4  65000        won
5  40000    pending
6  10000  presented
John Smith

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2
8   740150     Barton LLC  John Smith  Debra Henley          CPU         1

   Price    Status
7   5000   pending
8  35000  declined

In [77]:
for a , b in gbrep :
    print(a)
    print()
    print(b["Price"])

Craig Booker

0    30000
1    10000
2     5000
3    35000
Name: Price, dtype: int64
Daniel Hilton

4    65000
5    40000
6    10000
Name: Price, dtype: int64
John Smith

7     5000
8    35000
Name: Price, dtype: int64

In [78]:
for a , b in gbrep :
    print(a)
    print()
    print(b["Price"].sum())
    print("**********************")

Craig Booker

80000
**********************
Daniel Hilton

115000
**********************
John Smith

40000
**********************

In [79]:
dfsales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [80]:
dfdebra["Status"] == "declined"

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
Name: Status, dtype: bool

In [81]:
ft = dfsales["Status"] == "declined"

In [82]:
ft

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
Name: Status, dtype: bool

In [83]:
dfdebra.loc[ft]

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [84]:
dfdebra.loc[~ft]

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending

In [85]:
dfdebra

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [86]:
dfdebra["Status"]

0    presented
1    presented
2      pending
3     declined
4          won
5      pending
6    presented
7      pending
8     declined
Name: Status, dtype: object

In [87]:
dfdebra["Status"] == "declined"

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
Name: Status, dtype: bool

In [88]:
dfdebra["Status"] != "declined"

0     True
1     True
2     True
3    False
4     True
5     True
6     True
7     True
8    False
Name: Status, dtype: bool

In [89]:
dfdebra[  dfdebra["Status"] == "declined" ]

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [91]:
dfdebranon = dfdebra[ dfdebra["Status"] != "declined" ]

In [92]:
dfdebranon

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending

In [94]:
gbrep1 = dfdebranon.groupby("Rep")

In [95]:
gbrep1

In [96]:
gbrep1.groups

{'Craig Booker': [0, 1, 2], 'Daniel Hilton': [4, 5, 6], 'John Smith': [7]}

In [97]:
for m,n in gbrep1:
    print(m)
    print()
    print(n)

Craig Booker

   Account             Name           Rep       Manager      Product  \
0   714466  Trantow-Barrows  Craig Booker  Debra Henley          CPU
1   714466  Trantow-Barrows  Craig Booker  Debra Henley     Software
2   714466  Trantow-Barrows  Craig Booker  Debra Henley  Maintenance

   Quantity  Price     Status
0         1  30000  presented
1         1  10000  presented
2         2   5000    pending
Daniel Hilton

   Account          Name            Rep       Manager   Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley       CPU         2
5   218895     Kulas Inc  Daniel Hilton  Debra Henley       CPU         2
6   218895     Kulas Inc  Daniel Hilton  Debra Henley  Software         1

   Price     Status
4  65000        won
5  40000    pending
6  10000  presented
John Smith

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2

   Price   Status
7   5000  pending

In [98]:
for m,n in gbrep1:
    print(m)
    print()
    print(n["Price"])

Craig Booker

0    30000
1    10000
2     5000
Name: Price, dtype: int64
Daniel Hilton

4    65000
5    40000
6    10000
Name: Price, dtype: int64
John Smith

7    5000
Name: Price, dtype: int64

In [99]:
for m,n in gbrep1:
    print(m)
    print()
    print(n["Price"].max())

Craig Booker

30000
Daniel Hilton

65000
John Smith

5000

### Maximum by a Rep

In [100]:
dfsales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [104]:
ft = dfsales["Status"] != "declined"

In [105]:
ft

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7      True
8     False
9      True
10     True
11     True
12     True
13     True
14     True
15    False
16     True
Name: Status, dtype: bool

In [106]:
dfsalesnon = dfsales[ ft ]

In [107]:
dfsalesnon

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [108]:
dfsalesnon["Price"].max()

100000

In [109]:
gbrep2 = dfsalesnon.groupby("Rep")

In [110]:
for c, d in gbrep2:
    print(c)
    print()
    print(d)
    print()

Cedric Moss

    Account         Name          Rep        Manager      Product  Quantity  \
9    141962   Herman LLC  Cedric Moss  Fred Anderson          CPU         2
10   163416  Purdy-Kunde  Cedric Moss  Fred Anderson          CPU         1
11   239344   Stokes LLC  Cedric Moss  Fred Anderson  Maintenance         1
12   239344   Stokes LLC  Cedric Moss  Fred Anderson     Software         1

    Price     Status
9   65000        won
10  30000  presented
11   5000    pending
12  10000  presented

Craig Booker

   Account             Name           Rep       Manager      Product  \
0   714466  Trantow-Barrows  Craig Booker  Debra Henley          CPU
1   714466  Trantow-Barrows  Craig Booker  Debra Henley     Software
2   714466  Trantow-Barrows  Craig Booker  Debra Henley  Maintenance

   Quantity  Price     Status
0         1  30000  presented
1         1  10000  presented
2         2   5000    pending

Daniel Hilton

   Account          Name            Rep       Manager   Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley       CPU         2
5   218895     Kulas Inc  Daniel Hilton  Debra Henley       CPU         2
6   218895     Kulas Inc  Daniel Hilton  Debra Henley  Software         1

   Price     Status
4  65000        won
5  40000    pending
6  10000  presented

John Smith

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2

   Price   Status
7   5000  pending

Wendy Yule

    Account                         Name         Rep        Manager  \
13   307599  Kassulke, Ondricka and Metz  Wendy Yule  Fred Anderson
14   688981                  Keeling LLC  Wendy Yule  Fred Anderson
16   729833                    Koepp Ltd  Wendy Yule  Fred Anderson

        Product  Quantity   Price     Status
13  Maintenance         3    7000        won
14          CPU         5  100000        won
16      Monitor         2    5000  presented

In [112]:
for c, d in gbrep2:
    print(c)
    print()
    print(d["Price"])
    print()

Cedric Moss

9     65000
10    30000
11     5000
12    10000
Name: Price, dtype: int64

Craig Booker

0    30000
1    10000
2     5000
Name: Price, dtype: int64

Daniel Hilton

4    65000
5    40000
6    10000
Name: Price, dtype: int64

John Smith

7    5000
Name: Price, dtype: int64

Wendy Yule

13      7000
14    100000
16      5000
Name: Price, dtype: int64

In [114]:
for c, d in gbrep2:
    print(c)
    print()
    print(d["Price"].sum())
    print()

Cedric Moss

110000

Craig Booker

45000

Daniel Hilton

115000

John Smith

5000

Wendy Yule

112000

### Groupby Multi Column

In [117]:
dfprod = pd.read_csv("C:\\Users\\Arjun Yadav\\Desktop\\DATASETS\\Crosstab\\Crosstab_Sales.csv")

In [118]:
dfprod

           Date Region                 Type  Units      Sales
0     7/11/2020   East  Children's Clothing   18.0    $306.00
1     9/23/2020  North  Children's Clothing   14.0    $448.00
2      4/2/2020  South     Women's Clothing   17.0    $425.00
3     2/28/2020   East  Children's Clothing   26.0    $832.00
4     3/19/2020   West     Women's Clothing    3.0     $33.00
..          ...    ...                  ...    ...        ...
995   2/11/2020   East  Children's Clothing   35.0    $735.00
996  12/25/2020  North       Men's Clothing    NaN  $1,155.00
997   8/31/2020  South       Men's Clothing   13.0    $208.00
998   8/23/2020  South     Women's Clothing   17.0    $493.00
999   8/17/2020  North     Women's Clothing   25.0    $300.00

[1000 rows x 5 columns]

In [119]:
dfsales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [121]:
gbname = dfsales.groupby("Name")

In [123]:
for x, y in gbname :
    print(x)
    print()
    print(y)
    print()
    print("*******************")
    print()

Barton LLC

   Account        Name         Rep       Manager Product  Quantity  Price  \
8   740150  Barton LLC  John Smith  Debra Henley     CPU         1  35000

     Status
8  declined

*******************

Fritsch, Russel and Anderson

   Account                          Name           Rep       Manager Product  \
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley     CPU

   Quantity  Price    Status
3         1  35000  declined

*******************

Herman LLC

   Account        Name          Rep        Manager Product  Quantity  Price  \
9   141962  Herman LLC  Cedric Moss  Fred Anderson     CPU         2  65000

  Status
9    won

*******************

Jerde-Hilpert

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2

   Price   Status
7   5000  pending

*******************

Kassulke, Ondricka and Metz

    Account                         Name         Rep        Manager  \
13   307599  Kassulke, Ondricka and Metz  Wendy Yule  Fred Anderson

        Product  Quantity  Price Status
13  Maintenance         3   7000    won

*******************

Keeling LLC

    Account         Name         Rep        Manager Product  Quantity   Price  \
14   688981  Keeling LLC  Wendy Yule  Fred Anderson     CPU         5  100000

   Status
14    won

*******************

Kiehn-Spinka

   Account          Name            Rep       Manager Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley     CPU         2

   Price Status
4  65000    won

*******************

Koepp Ltd

    Account       Name         Rep        Manager  Product  Quantity  Price  \
15   729833  Koepp Ltd  Wendy Yule  Fred Anderson      CPU         2  65000
16   729833  Koepp Ltd  Wendy Yule  Fred Anderson  Monitor         2   5000

       Status
15   declined
16  presented

*******************

Kulas Inc

   Account       Name            Rep       Manager   Product  Quantity  Price  \
5   218895  Kulas Inc  Daniel Hilton  Debra Henley       CPU         2  40000
6   218895  Kulas Inc  Daniel Hilton  Debra Henley  Software         1  10000

      Status
5    pending
6  presented

*******************

Purdy-Kunde

    Account         Name          Rep        Manager Product  Quantity  Price  \
10   163416  Purdy-Kunde  Cedric Moss  Fred Anderson     CPU         1  30000

       Status
10  presented

*******************

Stokes LLC

    Account        Name          Rep        Manager      Product  Quantity  \
11   239344  Stokes LLC  Cedric Moss  Fred Anderson  Maintenance         1
12   239344  Stokes LLC  Cedric Moss  Fred Anderson     Software         1

    Price     Status
11   5000    pending
12  10000  presented

*******************

Trantow-Barrows

   Account             Name           Rep       Manager      Product  \
0   714466  Trantow-Barrows  Craig Booker  Debra Henley          CPU
1   714466  Trantow-Barrows  Craig Booker  Debra Henley     Software
2   714466  Trantow-Barrows  Craig Booker  Debra Henley  Maintenance

   Quantity  Price     Status
0         1  30000  presented
1         1  10000  presented
2         2   5000    pending

*******************

In [124]:
gbmag = dfsales.groupby("Manager")

In [127]:
for x, y in gbmag :
    print(x)
    print()
    print(y)
    print()
    print("*******************")
    print()

Debra Henley

   Account                          Name            Rep       Manager  \
0   714466               Trantow-Barrows   Craig Booker  Debra Henley
1   714466               Trantow-Barrows   Craig Booker  Debra Henley
2   714466               Trantow-Barrows   Craig Booker  Debra Henley
3   737550  Fritsch, Russel and Anderson   Craig Booker  Debra Henley
4   146832                  Kiehn-Spinka  Daniel Hilton  Debra Henley
5   218895                     Kulas Inc  Daniel Hilton  Debra Henley
6   218895                     Kulas Inc  Daniel Hilton  Debra Henley
7   412290                 Jerde-Hilpert     John Smith  Debra Henley
8   740150                    Barton LLC     John Smith  Debra Henley

       Product  Quantity  Price     Status
0          CPU         1  30000  presented
1     Software         1  10000  presented
2  Maintenance         2   5000    pending
3          CPU         1  35000   declined
4          CPU         2  65000        won
5          CPU         2  40000    pending
6     Software         1  10000  presented
7  Maintenance         2   5000    pending
8          CPU         1  35000   declined

*******************

Fred Anderson

    Account                         Name          Rep        Manager  \
9    141962                   Herman LLC  Cedric Moss  Fred Anderson
10   163416                  Purdy-Kunde  Cedric Moss  Fred Anderson
11   239344                   Stokes LLC  Cedric Moss  Fred Anderson
12   239344                   Stokes LLC  Cedric Moss  Fred Anderson
13   307599  Kassulke, Ondricka and Metz   Wendy Yule  Fred Anderson
14   688981                  Keeling LLC   Wendy Yule  Fred Anderson
15   729833                    Koepp Ltd   Wendy Yule  Fred Anderson
16   729833                    Koepp Ltd   Wendy Yule  Fred Anderson

        Product  Quantity   Price     Status
9           CPU         2   65000        won
10          CPU         1   30000  presented
11  Maintenance         1    5000    pending
12     Software         1   10000  presented
13  Maintenance         3    7000        won
14          CPU         5  100000        won
15          CPU         2   65000   declined
16      Monitor         2    5000  presented

*******************

In [129]:
dfdeb = gbmag.get_group("Debra Henley")

In [130]:
dfdeb

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined

In [133]:
gbrep5 = dfdeb.groupby("Rep")

In [134]:
for x1, y1 in gbrep5 :
    print(x1)
    print()
    print(y1)
    print()
    print("*******************")
    print()

Craig Booker

   Account                          Name           Rep       Manager  \
0   714466               Trantow-Barrows  Craig Booker  Debra Henley
1   714466               Trantow-Barrows  Craig Booker  Debra Henley
2   714466               Trantow-Barrows  Craig Booker  Debra Henley
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley

       Product  Quantity  Price     Status
0          CPU         1  30000  presented
1     Software         1  10000  presented
2  Maintenance         2   5000    pending
3          CPU         1  35000   declined

*******************

Daniel Hilton

   Account          Name            Rep       Manager   Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley       CPU         2
5   218895     Kulas Inc  Daniel Hilton  Debra Henley       CPU         2
6   218895     Kulas Inc  Daniel Hilton  Debra Henley  Software         1

   Price     Status
4  65000        won
5  40000    pending
6  10000  presented

*******************

John Smith

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2
8   740150     Barton LLC  John Smith  Debra Henley          CPU         1

   Price    Status
7   5000   pending
8  35000  declined

*******************

In [136]:
gbmrep = dfsales.groupby(["Manager","Rep"])

In [138]:
for a1, b1 in gbmrep:
    print(a1)
    print()
    print(b1)
    print("**********************")
    print()

('Debra Henley', 'Craig Booker')

   Account                          Name           Rep       Manager  \
0   714466               Trantow-Barrows  Craig Booker  Debra Henley
1   714466               Trantow-Barrows  Craig Booker  Debra Henley
2   714466               Trantow-Barrows  Craig Booker  Debra Henley
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley

       Product  Quantity  Price     Status
0          CPU         1  30000  presented
1     Software         1  10000  presented
2  Maintenance         2   5000    pending
3          CPU         1  35000   declined
**********************

('Debra Henley', 'Daniel Hilton')

   Account          Name            Rep       Manager   Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley       CPU         2
5   218895     Kulas Inc  Daniel Hilton  Debra Henley       CPU         2
6   218895     Kulas Inc  Daniel Hilton  Debra Henley  Software         1

   Price     Status
4  65000        won
5  40000    pending
6  10000  presented
**********************

('Debra Henley', 'John Smith')

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2
8   740150     Barton LLC  John Smith  Debra Henley          CPU         1

   Price    Status
7   5000   pending
8  35000  declined
**********************

('Fred Anderson', 'Cedric Moss')

    Account         Name          Rep        Manager      Product  Quantity  \
9    141962   Herman LLC  Cedric Moss  Fred Anderson          CPU         2
10   163416  Purdy-Kunde  Cedric Moss  Fred Anderson          CPU         1
11   239344   Stokes LLC  Cedric Moss  Fred Anderson  Maintenance         1
12   239344   Stokes LLC  Cedric Moss  Fred Anderson     Software         1

    Price     Status
9   65000        won
10  30000  presented
11   5000    pending
12  10000  presented
**********************

('Fred Anderson', 'Wendy Yule')

    Account                         Name         Rep        Manager  \
13   307599  Kassulke, Ondricka and Metz  Wendy Yule  Fred Anderson
14   688981                  Keeling LLC  Wendy Yule  Fred Anderson
15   729833                    Koepp Ltd  Wendy Yule  Fred Anderson
16   729833                    Koepp Ltd  Wendy Yule  Fred Anderson

        Product  Quantity   Price     Status
13  Maintenance         3    7000        won
14          CPU         5  100000        won
15          CPU         2   65000   declined
16      Monitor         2    5000  presented
**********************

In [141]:
gbmrep.get_group(('Debra Henley', 'Craig Booker'))

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined

In [142]:
gbmrep.get_group(('Debra Henley', 'Craig Booker'))["Price"]

0    30000
1    10000
2     5000
3    35000
Name: Price, dtype: int64

In [143]:
gbmrep.get_group(('Debra Henley', 'Craig Booker'))["Price"].sum()

80000

In [144]:
gbmrep1 = dfsales.groupby(["Manager","Rep", "Name"])

for a2, b2 in gbmrep1:
    print(a2)
    print()
    print(b2)
    print("**********************")
    print()

('Debra Henley', 'Craig Booker', 'Fritsch, Russel and Anderson')

   Account                          Name           Rep       Manager Product  \
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley     CPU

   Quantity  Price    Status
3         1  35000  declined
**********************

('Debra Henley', 'Craig Booker', 'Trantow-Barrows')

   Account             Name           Rep       Manager      Product  \
0   714466  Trantow-Barrows  Craig Booker  Debra Henley          CPU
1   714466  Trantow-Barrows  Craig Booker  Debra Henley     Software
2   714466  Trantow-Barrows  Craig Booker  Debra Henley  Maintenance

   Quantity  Price     Status
0         1  30000  presented
1         1  10000  presented
2         2   5000    pending
**********************

('Debra Henley', 'Daniel Hilton', 'Kiehn-Spinka')

   Account          Name            Rep       Manager Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley     CPU         2

   Price Status
4  65000    won
**********************

('Debra Henley', 'Daniel Hilton', 'Kulas Inc')

   Account       Name            Rep       Manager   Product  Quantity  Price  \
5   218895  Kulas Inc  Daniel Hilton  Debra Henley       CPU         2  40000
6   218895  Kulas Inc  Daniel Hilton  Debra Henley  Software         1  10000

      Status
5    pending
6  presented
**********************

('Debra Henley', 'John Smith', 'Barton LLC')

   Account        Name         Rep       Manager Product  Quantity  Price  \
8   740150  Barton LLC  John Smith  Debra Henley     CPU         1  35000

     Status
8  declined
**********************

('Debra Henley', 'John Smith', 'Jerde-Hilpert')

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2

   Price   Status
7   5000  pending
**********************

('Fred Anderson', 'Cedric Moss', 'Herman LLC')

   Account        Name          Rep        Manager Product  Quantity  Price  \
9   141962  Herman LLC  Cedric Moss  Fred Anderson     CPU         2  65000

  Status
9    won
**********************

('Fred Anderson', 'Cedric Moss', 'Purdy-Kunde')

    Account         Name          Rep        Manager Product  Quantity  Price  \
10   163416  Purdy-Kunde  Cedric Moss  Fred Anderson     CPU         1  30000

       Status
10  presented
**********************

('Fred Anderson', 'Cedric Moss', 'Stokes LLC')

    Account        Name          Rep        Manager      Product  Quantity  \
11   239344  Stokes LLC  Cedric Moss  Fred Anderson  Maintenance         1
12   239344  Stokes LLC  Cedric Moss  Fred Anderson     Software         1

    Price     Status
11   5000    pending
12  10000  presented
**********************

('Fred Anderson', 'Wendy Yule', 'Kassulke, Ondricka and Metz')

    Account                         Name         Rep        Manager  \
13   307599  Kassulke, Ondricka and Metz  Wendy Yule  Fred Anderson

        Product  Quantity  Price Status
13  Maintenance         3   7000    won
**********************

('Fred Anderson', 'Wendy Yule', 'Keeling LLC')

    Account         Name         Rep        Manager Product  Quantity   Price  \
14   688981  Keeling LLC  Wendy Yule  Fred Anderson     CPU         5  100000

   Status
14    won
**********************

('Fred Anderson', 'Wendy Yule', 'Koepp Ltd')

    Account       Name         Rep        Manager  Product  Quantity  Price  \
15   729833  Koepp Ltd  Wendy Yule  Fred Anderson      CPU         2  65000
16   729833  Koepp Ltd  Wendy Yule  Fred Anderson  Monitor         2   5000

       Status
15   declined
16  presented
**********************

In [145]:
gbmrep1 = dfsales.groupby(["Name","Manager", "Rep"])

for a2, b2 in gbmrep1:
    print(a2)
    print()
    print(b2)
    print("**********************")
    print()

('Barton LLC', 'Debra Henley', 'John Smith')

   Account        Name         Rep       Manager Product  Quantity  Price  \
8   740150  Barton LLC  John Smith  Debra Henley     CPU         1  35000

     Status
8  declined
**********************

('Fritsch, Russel and Anderson', 'Debra Henley', 'Craig Booker')

   Account                          Name           Rep       Manager Product  \
3   737550  Fritsch, Russel and Anderson  Craig Booker  Debra Henley     CPU

   Quantity  Price    Status
3         1  35000  declined
**********************

('Herman LLC', 'Fred Anderson', 'Cedric Moss')

   Account        Name          Rep        Manager Product  Quantity  Price  \
9   141962  Herman LLC  Cedric Moss  Fred Anderson     CPU         2  65000

  Status
9    won
**********************

('Jerde-Hilpert', 'Debra Henley', 'John Smith')

   Account           Name         Rep       Manager      Product  Quantity  \
7   412290  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2

   Price   Status
7   5000  pending
**********************

('Kassulke, Ondricka and Metz', 'Fred Anderson', 'Wendy Yule')

    Account                         Name         Rep        Manager  \
13   307599  Kassulke, Ondricka and Metz  Wendy Yule  Fred Anderson

        Product  Quantity  Price Status
13  Maintenance         3   7000    won
**********************

('Keeling LLC', 'Fred Anderson', 'Wendy Yule')

    Account         Name         Rep        Manager Product  Quantity   Price  \
14   688981  Keeling LLC  Wendy Yule  Fred Anderson     CPU         5  100000

   Status
14    won
**********************

('Kiehn-Spinka', 'Debra Henley', 'Daniel Hilton')

   Account          Name            Rep       Manager Product  Quantity  \
4   146832  Kiehn-Spinka  Daniel Hilton  Debra Henley     CPU         2

   Price Status
4  65000    won
**********************

('Koepp Ltd', 'Fred Anderson', 'Wendy Yule')

    Account       Name         Rep        Manager  Product  Quantity  Price  \
15   729833  Koepp Ltd  Wendy Yule  Fred Anderson      CPU         2  65000
16   729833  Koepp Ltd  Wendy Yule  Fred Anderson  Monitor         2   5000

       Status
15   declined
16  presented
**********************

('Kulas Inc', 'Debra Henley', 'Daniel Hilton')

   Account       Name            Rep       Manager   Product  Quantity  Price  \
5   218895  Kulas Inc  Daniel Hilton  Debra Henley       CPU         2  40000
6   218895  Kulas Inc  Daniel Hilton  Debra Henley  Software         1  10000

      Status
5    pending
6  presented
**********************

('Purdy-Kunde', 'Fred Anderson', 'Cedric Moss')

    Account         Name          Rep        Manager Product  Quantity  Price  \
10   163416  Purdy-Kunde  Cedric Moss  Fred Anderson     CPU         1  30000

       Status
10  presented
**********************

('Stokes LLC', 'Fred Anderson', 'Cedric Moss')

    Account        Name          Rep        Manager      Product  Quantity  \
11   239344  Stokes LLC  Cedric Moss  Fred Anderson  Maintenance         1
12   239344  Stokes LLC  Cedric Moss  Fred Anderson     Software         1

    Price     Status
11   5000    pending
12  10000  presented
**********************

('Trantow-Barrows', 'Debra Henley', 'Craig Booker')

   Account             Name           Rep       Manager      Product  \
0   714466  Trantow-Barrows  Craig Booker  Debra Henley          CPU
1   714466  Trantow-Barrows  Craig Booker  Debra Henley     Software
2   714466  Trantow-Barrows  Craig Booker  Debra Henley  Maintenance

   Quantity  Price     Status
0         1  30000  presented
1         1  10000  presented
2         2   5000    pending
**********************

In [146]:
dfprod

           Date Region                 Type  Units      Sales
0     7/11/2020   East  Children's Clothing   18.0    $306.00
1     9/23/2020  North  Children's Clothing   14.0    $448.00
2      4/2/2020  South     Women's Clothing   17.0    $425.00
3     2/28/2020   East  Children's Clothing   26.0    $832.00
4     3/19/2020   West     Women's Clothing    3.0     $33.00
..          ...    ...                  ...    ...        ...
995   2/11/2020   East  Children's Clothing   35.0    $735.00
996  12/25/2020  North       Men's Clothing    NaN  $1,155.00
997   8/31/2020  South       Men's Clothing   13.0    $208.00
998   8/23/2020  South     Women's Clothing   17.0    $493.00
999   8/17/2020  North     Women's Clothing   25.0    $300.00

[1000 rows x 5 columns]

In [147]:
dfprod["Type"].unique()

array(["Children's Clothing", "Women's Clothing", "Men's Clothing"],
      dtype=object)

In [148]:
dfprod["Region"].unique()

array(['East', 'North', 'South', 'West'], dtype=object)