In [1]:
import pandas as pd
import numpy as np

In [2]:
dfmovie=pd.read_csv(r"C:\Users\admin\Desktop\Pandas\arjun srikant pandas\One Hot Encoding\cust_recom.csv")

In [3]:
dfmovie

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [4]:
dfmovie=dfmovie.drop("purchased",axis=1)

In [6]:
dfmovie.head()

   age  gender   review education
0   30  Female  Average    School
1   68  Female     Poor        UG
2   70  Female     Good        PG
3   72  Female     Good        PG
4   16  Female  Average        UG

In [7]:
dfmovie[["age","gender","education"]]

    age  gender education
0    30  Female    School
1    68  Female        UG
2    70  Female        PG
3    72  Female        PG
4    16  Female        UG
5    31  Female    School
6    18    Male    School
7    60  Female    School
8    65  Female        UG
9    74    Male        UG
10   98  Female        UG
11   74    Male        UG
12   51    Male    School
13   57  Female    School
14   15    Male        PG
15   75    Male        UG
16   59    Male        UG
17   22  Female        UG
18   19    Male    School
19   97    Male        PG
20   57  Female    School
21   32    Male        PG
22   18  Female        PG
23   96  Female    School
24   16  Female        PG
25   57  Female    School
26   53  Female        PG
27   69  Female        PG
28   48    Male    School
29   83  Female        UG
30   73    Male        UG
31   22  Female    School
32   92    Male        UG
33   89  Female        PG
34   86    Male    School
35   74    Male    School
36   34  Female        UG
37   94    Male        PG
38   45  Female    School
39   76    Male        PG
40   39    Male    School
41   23    Male        PG
42   30  Female        PG
43   27    Male        PG
44   77  Female        UG
45   61    Male        PG
46   64  Female        PG
47   38  Female        PG
48   39  Female        UG
49   25  Female        UG

In [9]:
X=dfmovie.drop("review",axis=1)

In [10]:
y=dfmovie[["review"]]

In [12]:
type(X)

pandas.core.frame.DataFrame

In [13]:
type(y)

pandas.core.frame.DataFrame

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.20)

In [16]:
Xtrain

    age  gender education
15   75    Male        UG
24   16  Female        PG
2    70  Female        PG
35   74    Male    School
10   98  Female        UG
31   22  Female    School
25   57  Female    School
11   74    Male        UG
17   22  Female        UG
45   61    Male        PG
41   23    Male        PG
46   64  Female        PG
48   39  Female        UG
43   27    Male        PG
22   18  Female        PG
18   19    Male    School
47   38  Female        PG
34   86    Male    School
0    30  Female    School
23   96  Female    School
36   34  Female        UG
6    18    Male    School
13   57  Female    School
20   57  Female    School
1    68  Female        UG
33   89  Female        PG
44   77  Female        UG
12   51    Male    School
21   32    Male        PG
7    60  Female    School
19   97    Male        PG
5    31  Female    School
40   39    Male    School
3    72  Female        PG
4    16  Female        UG
29   83  Female        UG
38   45  Female    School
39   76    Male        PG
16   59    Male        UG
37   94    Male        PG

In [17]:
ytrain

     review
15     Poor
24  Average
2      Good
35     Poor
10     Good
31     Poor
25     Good
11     Good
17     Poor
45     Poor
41     Good
46     Poor
48     Good
43     Poor
22     Poor
18     Good
47     Good
34  Average
0   Average
23     Good
36     Good
6      Good
13  Average
20  Average
1      Poor
33     Good
44  Average
12     Poor
21  Average
7      Poor
19     Poor
5   Average
40     Good
3      Good
4   Average
29  Average
38     Good
39     Poor
16     Poor
37  Average

In [18]:
Xtrain.head()

    age  gender education
15   75    Male        UG
24   16  Female        PG
2    70  Female        PG
35   74    Male    School
10   98  Female        UG

In [20]:
Xtrain.shape

(40, 3)

In [21]:
y.shape

(50, 1)

In [22]:
ytrain.shape

(40, 1)

In [23]:
ytest.shape

(10, 1)